bqplot
faiss-cpu
ipydatagrid
jupyterlab
langchain>=0.1.9
langchain-cli
langchain-community>=0.0.27
langchain-experimental
langchain-openai>=0.0.2
langchainhub
langgraph>=0.0.26
langserve[all]
openai
pandas
pypdf
python-dotenv
pydantic>=2.0.0
qdrant_client
rank_bm25
tiktoken
torch
transformers